# Virtual environments
.venv/
.venv311/
env/
venv/

# Cache and logs
__pycache__/
*.pyc
*.log

# OS junk
.DS_Store

# Keep folder structure (data, logs, images)
!images/
!data/
!logs/

# Ignore contents but not folders
images/*
!images/.gitkeep

data/*
!data/.gitkeep

logs/*
!logs/.gitkeep

# Large models
*.onnx
*.dat
*.pth
*.zip
*.tar
*.gz


